@use "global" as *;


.card {
  display: flex;
  flex-direction: column;
  // width: calc(100% / 3 - rem(40) * 2 / 3);　← これが不要になる
  // background-color: $white;
  padding-bottom: rem(6);
}


.card:hover {
  opacity: 0.6;
}


.card__image {
  width: 100%;
}


.card__image img {
  height: 100%;
  aspect-ratio: 330 / 220;
  object-fit: cover;
}


.card__header {
  padding-right: rem(4);
  padding-left: rem(4);
  margin-top: rem(30);
  
  @include mq(md) {
    margin-top: rem(42);
  }
}


.card__date {
  display: block;
  font-size: rem(11);
  font-family: $second-font-family;
  font-weight: $regular;
  color: #383535;
  line-height: 1.0;
  letter-spacing: 0.24em;
}


.card__title {
  font-size: rem(18);
  font-family: $second-font-family;
  font-weight: $regular;
  color: #383535;
  line-height: 1.0;
  letter-spacing: 0.24em;
  margin-top: rem(12);
}


.card--thumbnail {
  position: relative;
}


.card--thumbnail:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(-26);
  transform: translateY(-50%) rotate(45deg);
  width: rem(12);
  height: rem(12);
  border-top: 0.103125rem solid #111;
  border-right: 0.103125rem solid #111;

  @include mq(md) {
    display: none;
  }
}


.card--thumbnail:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: rem(-26);
  transform: translateY(-50%) rotate(225deg);
  width: rem(12);
  height: rem(12);
  border-top: 0.103125rem solid #111;
  border-right: 0.103125rem solid #111;

  @include mq(md) {
    display: none;
  }
}


.card--thumbnail .card__image img {
  aspect-ratio: 176 / 117;
  width: rem(176);
  object-fit: cover;
}


.card--thumbnail .card__header {
  margin-top: rem(20);
}


.card--thumbnail .card__date {
  font-size: rem(6);
  font-weight: $regular;
}


.card--thumbnail .card__title {
  font-size: rem(10);
  font-weight: $regular;
  margin-top: rem(8);
}
