@use "global" as *;


.menu-header {
  text-align: center;
  // margin-top: rem(34);
}


.menu-header__title {
  position: relative;
  display: inline-block;
  font-size: rem(24);
  font-family: $second-font-family;
  font-weight: $bold;
  color: #40210F;
  line-height: 1.5;
  text-align: center;
  width: 100%;

  @include mq(md) {
    font-size: rem(36);
    width: rem(400);
  }
}


.menu-header__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/common/sushi-title_bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}