@use "global" as *;


.pc-nav {
  display: none;

  @include mq(md) {
    display: flex;
    justify-content: center;
    background-image: url(../images/common/header_bg.png);
    background-size: cover; 
  }
}


.pc-nav__items {
  display: flex;
  align-items: center;
  gap: rem(80);
}


.pc-nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 clamp(rem(10), 1.4vw, rem(20));
  padding-top: rem(11);
  padding-bottom: rem(11);
  // padding-top: rem(8);
  // padding-bottom: rem(7);
}


.pc-nav__sub-title::after {
  content: '';
  position: absolute;
  bottom: rem(-3);
  left: 0;
  /*線の形状*/
  width: 100%;
  height: rem(1);
  background: $white;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}


.pc-nav__menu:hover {
  opacity: 0.6;
}


/*現在地とhoverの設定*/
.pc-nav__menu:hover .pc-nav__sub-title::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}


.pc-nav__title {
  color: $white;
  text-align: center;
  font-size: rem(14);
  font-family: $base-font-family;
  letter-spacing: 0.001em;
  font-weight: $regular;
  line-height: 1.5;
}


.pc-nav__sub-title {
  position: relative;
  color: $white;
  font-size: rem(10);
  text-align: center;
  margin-top: rem(4);
  letter-spacing: 0.04em;
}