@use "global" as *;


.pickup {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(60);
  
  @include mq(md) {
    padding-top: rem(157);
    padding-bottom: rem(93);
  }
}


.pickup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/common/pickup_bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.pickup__inner.inner {
  max-width: rem(600);

  @include mq(md) {
    max-width: rem(1250);
    padding-left: rem(80);
    padding-right: rem(23);
  }
}


.pickup__inner {
  position: relative;
}


.pickup__inner::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 20%;
  background-image: url(../images/common/pickup_icon.png);
  background-size: cover;
  aspect-ratio: 230 / 230;
  width: rem(230);
  
  @include mq(md) {
    top: rem(130);
    right: rem(23);
  }
}